:root {
  --pink: #F194E2;
  --light_purple: #BE90E2;
  --carmesi: #990000;
  --bg-opacity: #FFFFFFCC;
}

@font-face {
  font-family: "CCWildWordsLower Regular";
  src: url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.eot");
  src: url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/3b18f58d506d3b88b9a6546f235166af.svg#CCWildWordsLower Regular")format("svg");
}

* {
  font-family: "CCWildWordsLower Regular";
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

html, body {
  height: 100%;
}

body {
  background-image: url(../../../public/bg-1440.png);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: cover;
  margin: 0;
  position: relative;
}

button,a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  background: rgba(0,0,0,0);
  border-width: 0;
  padding: 0;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 1.5vh;
  right: 1vw;
}
nav a[href='/'] svg:not(:first-child) {
  display: none;
}
nav a:hover {
  filter: invert(46%) sepia(61%) saturate(6575%) hue-rotate(248deg) brightness(99%) contrast(105%);
}
ul {
  list-style-type: none;
  padding: 20px 0;
}

@media (max-width: 991px) {
  html, body {
    height: initial;
  }
  body {
    background-size: auto;
    background-position-x: 45%;
  }
  nav {
    bottom: 0;
    top: 1vh;
    left: 0;
    height: fit-content;
  }
  nav a:not([href='/']), nav a[href='/'] svg:first-child {
    display: none;
  }
  nav a[href='/'] svg:not(:first-child) {
    display: block;
  }
}