.embla {
    --slide-spacing: 15px;
    --slide-size: 100%;
    --slide-height: 19rem;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
}

.embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 1366px) and (max-height : 800px) {
    .embla__slide img {
        max-width: 65%;
        height: auto;
    }
}

@media (min-width: 990px) {
    .embla__container {
        flex-wrap: wrap;
        margin: auto;
        touch-action: none;
        justify-content: center;
        gap: 15px;
    }

    .embla__slide {
        flex: initial;
        padding: 0;
    }
}